/**
 * 通用样式
 */

.beyond {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}
.beyond2 {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 100%;
}
button::after {
	border: none;
}

button {
	margin: 0;
	border: none;
}

ul {
	padding: 0;
}

page {
	height: 100%;
	font-size: 24rpx;
	background-color: #f7f7f7;
}

.container {
	height: 100%;
	background-color: #f7f7f7;
}

.overflow_clear {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.clear_both:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}

.mask_bg {
	position: fixed;
	z-index: 99;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
}

.topmask {
	position: fixed;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 111;
}

// 颜色类
.maincl {
	color: #ff797c;
}

.fontcl1 {
	color: #FF797C;
}

.fontcl2 {
	color: #ff797c;
}

.fontcl3 {
	color: #ff9900;
}

.fontcl4 {
	color: #FF4D5B;
}

.black9 {
	color: #A3A3A4;
}

.black6 {
	color: #666666;
}

.col26 {
	color: #262628;
}

.font28 {
	font-size: 28rpx;
}

.black3 {
	color: #333333;
}

// 边框类
.border_t {
	border-top: 2rpx solid #e6e6e6;
}

.border_b {
	border-bottom: 2rpx solid #e6e6e6;
}

.border_l {
	border-left: 2rpx solid #e6e6e6;
}

.border_r {
	border-right: 2rpx solid #e6e6e6;
}

// 外边距类
.mt5 {
	margin-top: 10rpx;
}

.mt10 {
	margin-top: 20rpx;
}

.mt20 {
	margin-top: 40rpx;
}

.mt30 {
	margin-top: 60rpx;
}

.mb5 {
	margin-bottom: 10rpx;
}

.mb10 {
	margin-bottom: 20rpx;
}

.mb20 {
	margin-bottom: 40rpx;
}

.mb30 {
	margin-bottom: 60rpx;
}

.ml5 {
	margin-left: 10rpx;
}

.ml10 {
	margin-left: 20rpx;
}

.ml20 {
	margin-left: 40rpx;
}

.ml30 {
	margin-left: 60rpx;
}

.mr5 {
	margin-right: 10rpx;
}

.mr10 {
	margin-right: 20rpx;
}

.mr20 {
	margin-right: 40rpx;
}

.mr30 {
	margin-right: 60rpx;
}

// 布局类
.pub_list {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;

	.pub_list_bd {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;
	}
}

.flex-wrp {
	display: flex;
	align-items: center;
}

.text_c {
	text-align: center;
}

.text_r {
	text-align: right;
}

.text_l {
	text-align: left;
}

// 容器
.pubPage {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.pubPageCont {
	flex: 1;
}

// 点评星星样式
.evlt_star_bg {
	width: 400rpx;
	height: 52rpx;
	position: relative;
	overflow: hidden;
	line-height: 0;
	display: inline-block;

	image.bg {
		width: 400rpx;
		height: 52rpx;
	}

	image {
		width: 400rpx;
		height: 52rpx;
	}
}

.evlt_star_bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 0;
	overflow: hidden;
	display: inline-block;
}

.evlt_star_click {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	.list {
		float: left;
		width: 20%;
		height: 100%;
	}
}

.page_cont_box {
	height: calc(100% - 120rpx);
	width: 100%;
	overflow: hidden;
	background-color: #f7f7f7;
}

.page_cont_box_topbottom {
	height: calc(100% - 208rpx);
}

.page_cont {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.footer_btn_long {
	height: 80rpx;
	padding: 20rpx;

	button {
		height: 80rpx;
		line-height: 80rpx;
		font-size: 32rpx;
	}
}

.page_cont_pay {
	height: calc(100% - 100rpx);
	width: 100%;
	overflow: hidden;
	background-color: #ffffff;
}

.icon44 {
	width: 44rpx;
	height: 44rpx;
}

.icon30 {
	width: 30rpx;
	height: 30rpx;
}

.footer_pay {
	height: 100rpx;
	line-height: 97rpx;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
}

.none-cont {
	color: #666;
	text-align: center;
	padding-top: 186rpx;
	box-sizing: border-box;

	.main image {
		width: 200rpx;
		height: 200rpx;
	}
}

.nosalesku {
	width: 124rpx;
	height: 48rpx;
	line-height: 48rpx;
	background: #ccc;
	border-radius: 48rpx;
	color: #fff;
	text-align: center;
	right: -4rpx;
}

.top .right .circle {
	width: 7rpx;
	height: 7rpx;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	right: 5rpx;
	top: 5rpx;
}

.shopList .right .bg {
	padding: 6rpx 10rpx;
	background: #F74663;
	color: #fff;
	border-top-left-radius: 16rpx;
	border-bottom-right-radius: 16rpx;
}

.shopList .right .bg2 {
	padding: 6rpx 10rpx;
	background: #0f88d0;
	color: #fff;
	border-top-left-radius: 16rpx;
	border-bottom-right-radius: 16rpx;
}

// 白布样式
.whiteloading {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

// Toast样式
.toast-bg {
	position: fixed;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	bottom: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
}

.toast-center {
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	width: 100%;
	height: 100%;
	text-align: center;

	&::after {
		content: '';
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}
}

.toast {
	display: inline-block;
	padding: 20rpx 40rpx;
	max-width: 600rpx;
	font-size: 28rpx;
	line-height: 40rpx;
	color: #fff;
	background: rgba(0, 0, 0, .7);
	border-radius: 10rpx;
	text-align: center;

	.toast-icon {
		display: block;
		margin: 0 auto 10rpx auto;
		width: 50rpx;
		height: 50rpx;
	}
}

// 无数据
.pub-nodata {
	color: #666;
	text-align: center;
	padding-top: 186rpx;
	box-sizing: border-box;

	image {
		width: 200rpx;
		height: 200rpx;
	}
}

// 微信授权
.pubOpenSetting {
	position: fixed;
	left: 0;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);

	.cont {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 70%;
		background: #fff;
		border-radius: 8rpx;
		padding: 40rpx 0rpx 0;
		font-size: 32rpx;
		color: #333;
		transform: translate(-50%, -50%);
		text-align: center;

		.btn_box {
			border-top: 2rpx solid #eee;
			text-align: center;
			position: relative;
			margin-top: 40rpx;
			display: flex;

			.btn {
				border-top: 0;
				margin-top: 0;
				flex: 1;

				&.cancel {
					color: #333;
					border-right: 2rpx solid #eee;
				}

				button {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
				}
			}
		}

		.btn {
			border-top: 2rpx solid #eee;
			line-height: 80rpx;
			text-align: center;
			font-size: 36rpx;
			color: #ff797c;
			position: relative;
			margin-top: 40rpx;
		}
	}
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
	display: none;
}
