/**
 * 商家列表样式
 */

.shoplists {
	background: #fff;
	padding: 16rpx 30rpx;
	overflow: hidden;

	&.close {
		opacity: 0.5;
	}

	.logo {
		width: 198rpx;
		height: 198rpx;
		border-radius: 24rpx;
		position: relative;
		float: left;

		.pic {
			width: 198rpx;
			height: 198rpx;
			border-radius: 24rpx;
			box-shadow: 0px 0px 40rpx 0px rgba(163, 163, 164, 0.1);
		}

		.tag {
			position: absolute;
			left: 0;
			top: 0;
			width: 64rpx;
			height: 64rpx;
		}

		.state {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			line-height: 40rpx;
			text-align: center;
			background: #A3A3A4;
			color: #fff;
			display: block;
			font-size: 24rpx;
		}

		.num {
			position: absolute;
			right: -8rpx;
			top: -8rpx;
			line-height: 28rpx;
			text-align: center;
			background: #FF4D5B;
			color: #fff;
			font-size: 20rpx;
			border-radius: 60rpx;
			padding: 0 9rpx;
		}
	}

	.text_amount {
		min-width: 88rpx;
		padding: 0 12rpx;
		height: 48rpx;
		border-radius: 8rpx;
		font-size: 24rpx;
		text-align: center;
		line-height: 48rpx;
		margin-right: 10rpx;
		color: #3E4248;
	}

	.text_freight {
		color: #3E4248;
		font-size: 24rpx;
	}

	.txt_box {
		margin-left: 214rpx;
	}

	.tit {
		font-size: 32rpx;
		line-height: 48rpx;
		color: #262628;
		font-weight: bold;
		margin-top: 12rpx;
	}

	.open_state text {
		background: #4DBD4D;
		border-radius: 2rpx;
		font-size: 22rpx;
		color: #fff;
		line-height: 32rpx;
		padding: 0 14rpx;
		display: inline-block;
		margin-top: 12rpx;
	}

	.box {
		overflow: hidden;
		font-size: 24rpx;
		margin: 10rpx 0;
		color: #A3A3A4;
	}

	.song {
		display: inline-block;
		float: right;
		font-size: 20rpx !important;
		border: 2rpx solid #2797ff;
		color: #2797ff;
		border-radius: 10rpx 0 10rpx 0;
		padding: 0 6rpx;
		line-height: 32rpx;

		&.song2 {
			border-color: #ff9000;
			color: #ff9000;
		}
	}

	.green {
		color: #A3A3A4;
		font-size: 24rpx;
		margin-right: 16rpx;
	}

	.grey {
		color: #e6e6e6;
	}

	.del {
		color: #999;
		font-size: 24rpx;
		position: relative;
		margin-left: 4rpx;

		&:after {
			content: '';
			width: 100%;
			height: 2rpx;
			background: #999;
			position: absolute;
			left: 0;
			top: 50%;
		}
	}

	.starS {
		display: inline-block;
		font-size: 28rpx;
		color: #FF797C;
		margin-right: 24rpx;
		font-weight: bold;

		image {
			width: 30rpx;
			height: 30rpx;
			margin-right: 8rpx;
		}
	}

	.line {
		width: 100%;
		display: block;
		height: 0;
		border: 0;
		border-bottom: 2rpx solid #f6f6f6;
		margin: 20rpx 0;
		padding: 0;
	}

	.support {
		overflow: hidden;

		span {
			overflow: hidden;
			border: 2rpx solid #037E98;
			color: #037E98;
			display: inline-block;
			margin-right: 8rpx;
			padding: 0 8rpx;
			border-radius: 4rpx;
		}
	}

	.hd {
		overflow: hidden;

		.right {
			float: right;
			width: 172rpx;
			text-align: right;
			font-size: 24rpx;
			color: #999;

			.ico {
				width: 20rpx;
				height: 20rpx;
				margin-left: 8rpx;
				display: inline-block;
				font-size: 20rpx;
				color: #fff;
			}
		}

		ul {
			display: block;
			margin-right: 180rpx;
			max-height: 144rpx;

			&.on {
				height: auto;
				max-height: unset;
			}

			li {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 24rpx;
				color: #666;
				line-height: 32rpx;
				display: block;

				.ico {
					width: 32rpx;
					height: 32rpx;
					display: inline-block;
					border-radius: 8rpx;
					line-height: 32rpx;
					text-align: center;
					color: #fff;
					font-size: 24rpx;
					font-style: normal;
					margin: 8rpx 8rpx 8rpx 0;
				}
			}
		}
	}

	.pullBox {
		overflow: hidden;

		.right {
			float: right;
			width: 80rpx;
			height: 80rpx;
			text-align: right;

			.ico {
				width: 20rpx;
				height: 20rpx;
				display: inline-block;
			}
		}

		.left {
			display: block;
			margin-right: 90rpx;
			max-height: 76rpx;
			overflow: hidden;

			&.on {
				max-height: unset;
			}

			.list {
				display: inline-block;
				border: 2rpx solid #FCE9E9;
				line-height: 28rpx;
				padding: 0 8rpx;
				margin-right: 4rpx;
				margin-bottom: 4rpx;
				font-size: 22rpx;
				color: #FF4D5B;
			}

			span {
				display: inline-block;
				border: 2rpx solid #eee;
				line-height: 28rpx;
				padding: 0 8rpx;
				margin-right: 4rpx;
				margin-bottom: 4rpx;
				font-size: 22rpx;
				color: #666;
			}
		}
	}

	.products {
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 12rpx;
		-webkit-overflow-scrolling: touch;

		ul {
			display: block;
			white-space: nowrap;
			margin: 0 -10rpx;

			li {
				display: inline-block;
				margin: 0 10rpx;

				.pic {
					width: 240rpx;
					height: 176rpx;
					overflow: hidden;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					position: relative;
					background-color: #eee;
				}

				.bt {
					font-size: 28rpx;
					color: #666;
					line-height: 40rpx;
					margin: 12rpx 0 8rpx;
				}

				.price {
					font-size: 36rpx;
					color: #FA4C34;
				}
			}
		}

		.price small {
			font-size: 28rpx;
		}
	}
}

.starBg {
	width: 170rpx;
	height: 24rpx;
	position: relative;
	overflow: hidden;
	line-height: 0;
	display: inline-block;
	text-align: left;
}

.starBgimg {
	width: 170rpx;
	height: 24rpx;
}

.star {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 0;
	overflow: hidden;
	display: inline-block;

	image {
		width: 170rpx;
		height: 24rpx;
	}
}
