/**
 * 个人中心相关样式
 */

// 余额
.mineMoney_top {
	padding: 24rpx 0;
	background: #fff;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	margin-bottom: 20rpx;

	&:before {
		content: '';
		width: 2rpx;
		position: absolute;
		left: 50%;
		top: 24rpx;
		bottom: 24rpx;
		background: #eee;
	}

	.box {
		flex: 1;
	}

	.txt {
		font-size: 28rpx;
		line-height: 40rpx;
		color: #999;
	}

	.price {
		font-size: 32rpx;
		line-height: 40rpx;
		color: #f30;
		margin-top: 8rpx;
	}

	.btn {
		display: inline-block;
		font-size: 28rpx;
		line-height: 60rpx;
		color: #fff;
		background: #fc5151;
		border-radius: 4rpx;
		width: 160rpx;
		margin: 0 4rpx;

		&.btn2 {
			background: #ff797c;
		}
	}
}

.mineMoney_tit {
	font-size: 28rpx;
	line-height: 40rpx;
	color: #999;
	padding: 8rpx 24rpx;
}

.mineMoney_list {
	background: #fff;
	margin-bottom: 2rpx;
	padding: 20rpx 120rpx 20rpx 24rpx;
	font-size: 24rpx;
	line-height: 40rpx;
	color: #999;
	position: relative;

	.tit {
		font-size: 28rpx;
		color: #333;
	}

	.price {
		font-size: 28rpx;
		color: #ff797c;
		position: absolute;
		right: 24rpx;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.mineMoney_cash {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	/*  #ifdef  H5  */
	top: calc(88rpx + constant(safe-area-inset-top));
	top: calc(88rpx + env(safe-area-inset-top));
	/*  #endif  */
	width: 100%;
	height: 100%;

	.box {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		border-radius: 6rpx;
		width: 640rpx;
	}

	.tit {
		font-size: 32rpx;
		height: 100rpx;
		line-height: 100rpx;
		text-align: center;
	}

	.cont {
		padding: 0 40rpx;

		textarea {
			width: 100%;
			height: 160rpx;
			border-radius: 8rpx;
			border: 2rpx solid #eee;
			font-size: 24rpx;
			line-height: 36rpx;
			margin-bottom: 20rpx;
			padding: 16rpx 20rpx;
			box-sizing: border-box;
		}

		input {
			width: 100%;
			height: 72rpx;
			border-radius: 8rpx;
			border: 2rpx solid #eee;
			font-size: 24rpx;
			line-height: 72rpx;
			padding-left: 20rpx;
			box-sizing: border-box;
		}
	}

	.btn_box {
		border-top: 2rpx solid #eee;
		margin-top: 30rpx;
		display: flex;

		view {
			font-size: 30rpx;
			text-align: center;
			line-height: 80rpx;
			flex: 1;
		}

		.btn2 {
			color: #f30;
			border-left: 2rpx solid #eee;
		}
	}
}

.mineMoney_recharge {
	min-height: 100%;
	background: #fff;

	.title {
		padding: 12rpx 24rpx;
		font-size: 28rpx;
	}

	.list_box {
		padding: 0 14rpx;
	}

	.price_list {
		width: 184rpx;
		height: 110rpx;
		margin: 10rpx 10rpx;
		border: 2rpx solid #f9f9f9;
		background: #f9f9f9;
		text-align: center;
		float: left;
		padding-top: 16rpx;

		&.on {
			border-color: #ff0000;
			background: #fff;

			.num,
			.txt {
				color: #ff0000;
			}
		}

		.num {
			font-size: 32rpx;
			font-weight: bold;
			margin-bottom: 8rpx;
		}

		.txt {
			color: #666;
		}

		&.custom .txt {
			color: #333;
			margin-top: 30rpx;
		}
	}

	.inp {
		width: 100%;
		border: 2rpx solid #ddd;
		border-radius: 6rpx;
		line-height: 64rpx;
		padding-left: 20rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		font-size: 28rpx;
		color: #333;
		height: 64rpx;
	}

	.pay_way .list {
		background: #fff;
		display: block;
		overflow: hidden;
		padding: 30rpx 24rpx;
		border-bottom: 2rpx solid #eee;
		border-top: 2rpx solid #eee;

		image {
			width: 60rpx;
			height: 60rpx;
			float: left;
			margin-right: 20rpx;
		}

		.txt {
			float: left;
			font-size: 28rpx;
			line-height: 60rpx;
		}

		wx-radio {
			display: block;
			float: right;
			margin-top: 7rpx;
		}
	}

	.long_btn {
		display: block;
		margin: 40rpx 24rpx;
		background: #ff725c;
		border: 0;
		color: #fff;
		font-size: 32rpx;
	}
}
